@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Estilo para fundo e texto
body {
  background-color: #343a40; // fundo cinza-escuro
  color: #f8f9fa;
}

// Estilos para a star rating
.star-rating {
  font-size: 2rem;
  direction: rtl;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label.star {
  color: #ccc;
  cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label.star {
  color: gold;
}

.star-rating label.star:hover,
.star-rating label.star:hover ~ label.star {
  color: gold;
}
